.footer{
    background-color: rgb(7, 23, 58);
    padding: 70px;
}

.footerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.footerText{
    color: #fff;
    margin: 20px;
    font-family: 'Signika', sans-serif;
}



@media (max-width: 600px){
    .footer{
        padding: 40px;
    }
    
    .footerContent{
        font-size: 16px;
    }
}


@media (max-width: 500px){
    .footer{
        padding: 30px;
    }
    
    .footerContent{
        flex-direction: column;
    }
}