.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position:fixed;
    padding: 2px;
    margin: 0;
    list-style-type: none;
    background: rgb(14,27,46);
    background: linear-gradient(90deg, rgba(14,27,46,1) 0%, rgba(19,41,70,1) 15%, rgba(34,77,130,1) 100%);
    z-index: 100;
}
.menu_item{
    font-family: 'Signika', sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #f9fafa;
    border-right: 1px solid #2d5bae;
    text-transform: uppercase;
}

.menu_link{
    cursor: pointer;
}

.menu_link:hover{
    text-shadow: #9cf0ff 2px 0 10px;
}

.menu_link_a{
    color: white;
    text-decoration: none;
}

.menu_link_a:hover{
    color: rgba(19,41,70,1);
}


.hamburger{
	display: none;
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
    color: #f9fafa;
    z-index: 999;
}

.hamburgerMenu{
    display: none;
    position: fixed;
    margin: 0;
    width: 50%;
    height: 100%;
    right: 0;
    list-style-type: none;
    padding-top: 20px;
    flex-direction: column;
    background: rgb(0,0,0,0.95);
    z-index: 990;
}

.hamburgerMenu_item{
    font-size: 25px;
    padding: 10px 20px;
    text-decoration: none;
    color: #f9fafa;
    text-transform: uppercase;
}


.homePage{
    background:  url("../img/rm314-adj-04.jpg") center center/cover no-repeat;
    height: auto;
    margin: 0;
    padding: 100px;

    @media (max-width: 700px){
        padding-bottom: 70px;
    }
}

.headers{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.headers img{
    width: 35%;
    height: auto;
    margin-left: 30px;
}


.header{
    font-size: 50px;
    color: #2d5bae;
    margin-bottom: 0;
    font-family: 'Jockey One', sans-serif;
    text-shadow: 1px 1px 2px rgb(20, 26, 61);
}


.descr{
    font-size: 20px;
    font-family: 'Signika', sans-serif;
    color: #2d5bae;
    text-shadow: 1px 1px 1px rgb(20, 26, 61);
    margin-top: 5px;
}

.aboutSection{
    background:  url("../img/90595.jpg") center center/cover no-repeat;
    padding: 100px;
}

.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 25px;
    width: 800px;
    height: auto;
    margin-left: -70px;
    border-radius: 5px;
    background-color: #f9fafa;
    border: 1px solid rgba(19,41,70,1);
    border-left:6px solid #1ab7d3;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3);

}

.aboutHeader{
    font-family: 'Jockey One', sans-serif;
    margin: 10px;
    font-size: 80px;
    color:#21cbe9;
}


.about_descr{
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}



.contactBtn{
  align-items: center;
  appearance: none;
  margin: 20px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Signika', sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 25px;
  padding-right: 25px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.contactBtn:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.contactBtn:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.skills{
    padding-top: 100px;
    margin: 0 auto;
}
.skillsHeader{
    font-family: 'Jockey One', sans-serif;
    margin: 20px;
    margin-left: 50px;
    font-size: 80px;
    color:#21cbe9;
}

.MyWorksSection{
    background:  url("../img/rm314-adj-04.jpg") center center/cover no-repeat;
    padding: 50px 100px;
}

.worksSectionP{
    font-family: 'Jockey One', sans-serif;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    color:rgba(34,77,130,1);
}

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}





/********************************* MEDIA *********************************/


@media (max-width: 1600px){
    .aboutMe img{
        width: 420px;
    }
    .box{
        width: 760px;
    }
}



/*******************************************************/

@media (max-width: 1350px){
    .aboutMe img{
        width: 400px;
    }
    .box{
        width: 720px;
    }
    .about_descr{
        font-size: 18px;
    }
}


/*******************************************************/

@media (max-width: 1250px){
    .header{
        font-size: 35px;
    }
    .aboutMe img{
        width: 380px;
    }
    .box{
        width: 680px;
    }
    .about_descr{
        font-size: 16px;
    }
    .contactBtn{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
    }
}


/*******************************************************/


@media (max-width: 1200px){
    .header{
        font-size: 30px;
    }
    .aboutHeader{
        font-size: 70px;
    }
}

/*******************************************************/

@media (max-width: 1150px){
    .aboutMe img{
        width: 340px;
    }
    .box{
        width: 620px;
    }
}


/*******************************************************/

@media (max-width: 1050px){
    .descr{
        font-size: 17px;
    }
    .aboutMe img{
        width: 300px;
    }
    .box{
        width: 560px;
    }
    .about_descr{
        font-size: 14px;
    }
}


/*******************************************************/

@media (max-width: 950px){
    .header{
        font-size: 23px;
    }
    .descr{
        font-size: 14px;
        text-shadow: none;
    }
    .box{
        width: 500px;
    }
    .about_descr{
        font-size: 14px;
    }
    .aboutHeader{
        font-size: 50px;
    }
    .skillsHeader{
        font-size: 50px;
    }
}


/*******************************************************/

@media (max-width: 850px){
    .header{
        font-size: 20px;
    }
    .projects{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .aboutMe img{
        display: none;
    }
    .box{
        width: 450px;
        margin-left: 0;
    }
    .aboutHeader{
        text-align: center;
    }
    .about_descr{
        font-size: 14px;
    }
    .contactBtn{
        display: flex;
        height: 42px;
        margin: 20px auto;

    }
    .skills{
        padding-top: 50px;
    }
}

/*******************************************************/

@media (max-width: 800px){
    .aboutSection{
        padding: 40px;
    }    
    .aboutMe img{
        display: none;
    }
    .box{
        width: 350px;
    }
    .about_descr{
        font-size: 14px;
    }
    .contactBtn{
        height: 38px;
    }
    .contactBtn:focus {
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
      }
      
      .contactBtn:hover {
        box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
        transform: translateY(0);
      }
}

/*******************************************************/

@media (max-width: 700px){
    .header{
        font-size: 18px;
    }
    .worksSectionP{
        font-size: 40px;
    }
}


/*******************************************************/

@media (max-width: 600px){
    .homePage{
        padding: 70px;   
    }
    .headers{
        flex-direction: column; 
    }
    .headers img{
        margin-left: 0;
        margin-top: 20px;
    }
    .hamburger{
        display: block;
    }
    .menu{
        justify-content: flex-start;
    }
    .menu_item{
        display: none;
    }
}


/*******************************************************/


@media (max-width: 500px){
    .homePage{
        padding: 50px;   
    }
    .header{
        margin-top: 20px;
    }
    .worksSectionP{
        font-size: 40px;
    }
}


@media (max-width: 450px){
    .homePage{
        padding: 40px;   
    }
    .box{
        width: 300px;
    }
    .AboutMeSection{
        padding: 0;
    }
}


@media (max-width: 410px){
    .box{
        width: 240px;
    }
    .worksSectionP{
        font-size: 30px;
    }
    .about_descr{
        font-size: 12px;
    }
    .aboutHeader{
        font-size: 30px;
    }
    .skillsHeader{
        font-size: 30px;
    }
}


@media (max-width: 300px){
    .box{
        width: 200px;
    }
}
